* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montserrat";
}

.wrap {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}

.button {
  font-family: "montserrat";
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 270px;
  width: 100%;
  padding: 22px;
  background: #75E169;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
.button:hover {
  border-color: #67AEFC;
}
.button:active {
  background: #67AEFC;
}
.button--header {
  padding: 10px;
  width: 170px;
}
.button--header:hover {
  border-color: #fff;
}
.button--header:active {
  background: #fff;
  color: #67AEFC;
}

.input {
  padding: 20px 15px;
  background: #FFFFFF;
  border: 1px solid #67AEFC;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input:focus {
  border: 2px solid #67AEFC;
  padding: 19px 14px;
}

h1 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
}

h2 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}

h3 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}

p {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
}

.nowrap {
  white-space: nowrap;
}

.logo {
  max-width: 242px;
  min-width: 135px;
}
.logo img {
  width: 100%;
  margin-bottom: -3px;
}

.header {
  background: #67AEFC;
}
.header__toggler {
  display: none;
}
.header__logo {
  margin-right: 30px;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  margin-right: 35px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
}

.mainBanner {
  background: url(../../img/mainBanner-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainBanner__wrap {
  padding-top: 170px;
  padding-bottom: 180px;
}
.mainBanner__info {
  max-width: 550px;
}
.mainBanner__title {
  margin-bottom: 20px;
  color: #484848;
}
.mainBanner__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #000;
  margin-bottom: 58px;
  max-width: 435px;
}

.services {
  background: url(../../img/services-bg.png) #DAECFF;
  background-size: cover;
  background-position: center;
}
.services__wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.services__title {
  margin-bottom: 75px;
  text-align: center;
}
.services__dropInfo:not(:last-child) {
  margin-bottom: 10px;
}

.dropInfo {
  background: #fff;
  border-radius: 15px;
}
.dropInfo__circle {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #75E169;
  margin-right: 28px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dropInfo__heading {
  padding: 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}
.dropInfo__heading p {
  margin-right: auto;
}
.dropInfo__heading span {
  font-size: 30px;
}
.dropInfo__heading--open .dropInfo__circle {
  background: #67AEFC;
}
.dropInfo__heading--open p {
  font-weight: 800;
}
.dropInfo__heading--open span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropInfo__body {
  display: none;
  padding: 20px 40px;
  padding-top: 10px;
  padding-left: 52px;
}
.dropInfo__body p {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 30px;
  border-left: 1px solid #000000;
}

.steps {
  overflow: hidden;
  background: url(../../img/steps-bg.png);
  background-size: cover;
  background-position: center;
}
.steps__title {
  text-align: center;
  margin-bottom: 80px;
}
.steps .slick-list {
  overflow: unset;
  padding-left: 0 !important;
}
.steps__wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.steps .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps__item {
  max-width: 695px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  margin-right: 25px;
}
.steps__img {
  width: 100%;
  max-width: 250px;
}
.steps__img img {
  width: 100%;
}
.steps__paragraph {
  font-size: 18px;
  line-height: 140%;
  color: #000;
}
.steps__text {
  max-width: 300px;
  width: 100%;
  margin-right: 35px;
}
.steps__text h3 {
  margin-bottom: 30px;
}
.steps__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 85px;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  width: 60px;
  height: 60px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
  font-size: 24px;
  margin: 0px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.arrow--prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.arrow--next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.arrow:hover {
  color: #fff;
  background: #67AEFC;
}

.portfolio {
  background: url(../../img/portfolio-bg.png) #DAECFF;
  background-size: cover;
  background-position: center;
}
.portfolio__wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio__title {
  margin-bottom: 50px;
  text-align: center;
}
.portfolio__grid {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.portfolio__info {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #67AEFC;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio__item {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  height: 447px;
  cursor: pointer;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__item:hover .portfolio__info {
  opacity: 1;
}

.moreInfo {
  background: url(../../img/moreInfo-bg.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.moreInfo__mobileImg {
  display: none;
}
.moreInfo__wrap {
  padding-top: 215px;
  padding-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.moreInfo__img {
  position: relative;
  max-width: 690px;
  margin-right: -200px;
  width: 100%;
}
.moreInfo__img img {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.moreInfo__paragraph {
  font-size: 18px;
  line-height: 140%;
}
.moreInfo__paragraph br {
  display: none;
}
.moreInfo__text {
  max-width: 670px;
  width: 100%;
  margin-right: 35px;
}
.moreInfo__title {
  margin-bottom: 50px;
}
.moreInfo__button {
  margin-top: 45px;
}

.formBlock {
  background: url(../../img/formBlock-bg.png) #DAECFF;
  background-size: cover;
  background-position: center;
}
.formBlock__wrap {
  padding-top: 180px;
  padding-bottom: 130px;
}
.formBlock__img {
  display: none;
}
.formBlock__body {
  max-width: 470px;
  margin: 0px auto;
  text-align: center;
}
.formBlock__title {
  margin-bottom: 30px;
}
.formBlock__subtitle {
  display: block;
  margin-bottom: 30px;
}
.formBlock form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.formBlock__button {
  margin: 0px auto;
  margin-top: 30px;
}
.formBlock__input:not(:first-child) {
  margin-top: 20px;
}

.phoneBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.phoneBlock__row {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.phoneBlock__row span {
  display: block;
  font-size: 30px;
  margin-right: 3px;
}

.footer {
  background: #67AEFC;
}
.footer__wrap {
  padding-top: 100px;
  padding-bottom: 80px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.footer__col:not(:last-child) {
  margin-right: 40px;
}
.footer__phoneBlock--mobile {
  display: none;
}
.footer__logo {
  max-width: 280px;
  min-width: 180px;
  width: 100%;
  margin-top: -20px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__socials {
  padding-top: 45px;
}
.footer__bottom {
  padding-top: 120px;
}
.footer__license {
  text-align: center;
  color: #fff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 270px;
}
.socials__item {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  color: #fff;
}