* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montserrat";
}

.wrap {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}

.button {
  font-family: "montserrat";
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 270px;
  width: 100%;
  padding: 22px;
  background: #75E169;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
}
.button:hover {
  border-color: #67AEFC;
}
.button:active {
  background: #67AEFC;
}
.button--header {
  padding: 10px;
  width: 170px;
}
.button--header:hover {
  border-color: #fff;
}
.button--header:active {
  background: #fff;
  color: #67AEFC;
}

h1 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
}

h2 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}

h3 {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
}

p {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
}

.nowrap {
  white-space: nowrap;
}

.header {
  background: #67AEFC;
}
.header__toggler {
  display: none;
}
.header__logo {
  max-width: 242px;
  min-width: 135px;
  margin-right: 30px;
}
.header__logo img {
  width: 100%;
  margin-bottom: -3px;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  margin-right: 35px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-weight: 600;
}

.mainBanner {
  background: url(../../img/mainBanner-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainBanner__wrap {
  padding-top: 170px;
  padding-bottom: 180px;
}
.mainBanner__info {
  max-width: 550px;
}
.mainBanner__title {
  margin-bottom: 20px;
  color: #484848;
}
.mainBanner__subtitle {
  font-size: 16px;
  line-height: 140%;
  color: #000;
  margin-bottom: 58px;
  max-width: 435px;
}

.services {
  background: #DAECFF;
}
.services__wrap {
  padding-top: 120px;
  padding-bottom: 120px;
}
.services__title {
  margin-bottom: 75px;
  text-align: center;
}
.services__dropInfo:not(:last-child) {
  margin-bottom: 10px;
}

.dropInfo {
  background: #fff;
  border-radius: 15px;
}
.dropInfo__circle {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #75E169;
  margin-right: 28px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.dropInfo__heading {
  padding: 18px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}
.dropInfo__heading p {
  margin-right: auto;
}
.dropInfo__heading span {
  font-size: 30px;
}
.dropInfo__heading--open .dropInfo__circle {
  background: #67AEFC;
}
.dropInfo__heading--open p {
  font-weight: 800;
}
.dropInfo__heading--open span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dropInfo__body {
  display: none;
  padding: 20px 40px;
  padding-top: 10px;
  padding-left: 52px;
}
.dropInfo__body p {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  padding-right: 30px;
  border-left: 1px solid #000000;
}