@import './variables.scss';

// common styles
* {
    box-sizing: border-box;
}

body {
    font-family: 'montserrat';
}

.wrap {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto;
}

.button {
    font-family: 'montserrat';
    display: grid;
    place-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 270px;
    width: 100%;
    padding: 22px;
    background: $green;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.3s;
    font-size: 15px;
    &:hover {
        border-color: $blue;
    }
    &:active {
        background: $blue;
    }

    &--header {
        padding: 10px;
        width: 170px;
        &:hover {
            border-color: #fff;
        }

        &:active {
            background: #fff;
            color: $blue;
        }
    }
}

.input {
    padding: 20px 15px;
    background: #FFFFFF;
    border: 1px solid $blue;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
    &:focus {
        border: 2px solid $blue;
        padding: 19px 14px;
    }
}

h1 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
}

h2 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 125%;
}

h3 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
}

p {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
}

.nowrap {
    white-space: nowrap;
}


.logo {
    max-width: 242px;
    min-width: 135px;
    img{
        width: 100%;
        margin-bottom: -3px;
    }
}

// header
.header {
    background: $blue;

    &__toggler {
        display: none;
    }

    &__logo {
        margin-right: 30px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    &__nav {
        display: flex;
        align-items: center;

    }

    &__link {
        margin-right: 35px;
        text-decoration: none;
        white-space: nowrap;
        color: #fff;
        font-weight: 600;
    }
}


// main banner
.mainBanner {

    background: url(../../img/mainBanner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__wrap {
        padding-top: 170px;
        padding-bottom: 180px;
    }

    &__info {
        max-width: 550px;
    }

    &__title {
        margin-bottom: 20px;
        color: #484848;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 140%;
        color: #000;
        margin-bottom: 58px;
        max-width: 435px;
    }
}


// services
.services{
    background: url(../../img/services-bg.png) $light-blue;
    background-size: cover;
    background-position: center;
    &__wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        margin-bottom: 75px;
        text-align: center;
    }
    
    &__dropInfo {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.dropInfo {
    background: #fff;
    border-radius: 15px;
    

    &__circle {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $green;
        margin-right: 28px;
        transition: 0.3s;
    }

    &__heading {
        padding: 18px 40px;
        display: flex;
        align-items: center;
        width: 100%;  
        cursor: pointer;
        p {
            margin-right: auto;
        }

        span {
            font-size: 30px;
        }

        &--open {
            .dropInfo__circle {
                background: $blue;
            }

            p {
                font-weight: 800;
            }

            span {
                transform: rotate(180deg);
            }
        }
    }

    &__body {
        display: none;
        padding: 20px 40px;
        padding-top: 10px;
        padding-left: 52px;
        p {
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 40px;
            padding-right: 30px;
            border-left: 1px solid #000000;
        }
    }
}

// steps 
.steps {
    overflow: hidden;
    background: url(../../img/steps-bg.png);
    background-size: cover;
    background-position: center;

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    .slick-list {
        overflow: unset;
        padding-left: 0 !important;
    }

    &__wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    &__item {
        max-width: 695px;
        // width: 100% !important;
        border: 2px solid $blue;
        border-radius: 15px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 50px 20px;
        margin-right: 25px;
    }

    &__img {
        width: 100%;
        max-width: 250px;
        img {
            width: 100%;
        }
    }

    &__paragraph {
        font-size: 18px;
        line-height: 140%;
        color: #000;
    }

    &__text {
        max-width: 300px;
        width: 100%;
        margin-right: 35px;
        h3 {
            margin-bottom: 30px;
        }
    }

    &__arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 85px;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    width: 60px;
    height: 60px;
    border: 2px solid $blue;
    border-radius: 15px;
    font-size: 24px;
    margin: 0px 15px;
    transition: 0.3s;
    &--prev {
        transform: rotate(90deg);
    }

    &--next {
        transform: rotate(-90deg);
    }

    &:hover {
        color: #fff;
        background: $blue;
    }
}


// portfolio
.portfolio {
    background: url(../../img/portfolio-bg.png) $light-blue;
    background-size: cover;
    background-position: center;
    &__wrap {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $blue;
        color: #fff;
        opacity: 0;
        transition: 0.3s;
    }

    &__item {
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        height: 447px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            .portfolio__info {
                opacity: 1;
            }
        }
    }

    
}


// more info block 
.moreInfo {
    background: url(../../img/moreInfo-bg.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    &__mobileImg {
        display: none;
    }

    &__wrap {
        padding-top: 215px;
        padding-bottom: 180px;
        display: flex;
        align-items: center;
    }

    &__img {
        position: relative;
        max-width: 690px;
        margin-right: -200px;
        width: 100%;
        // flex-shrink: 0;
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__paragraph {
        font-size: 18px;
        line-height: 140%;
        br {
            display: none;
        }
    }

    &__text {
        max-width: 670px;
        width: 100%;
        margin-right: 35px;
        // flex-shrink: 2;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__button {
        margin-top: 45px;
    }
}


// form block
.formBlock {
    background: url(../../img/formBlock-bg.png) $light-blue;
    background-size: cover;
    background-position: center;
    &__wrap {
        padding-top: 180px;
        padding-bottom: 130px;
    }

    &__img {
        display: none;
    }

    &__body {
        max-width: 470px;
        margin: 0px auto;
        text-align: center;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        display: block;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    &__button {
        margin: 0px auto;
        margin-top: 30px;
    }

    &__input {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
}


// footer 

.phoneBlock {
    display: flex;
    flex-direction: column;

    &__row {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
        white-space: nowrap;
        span {
            display: block;
            font-size: 30px;
            margin-right: 3px;
        }
    }
}

.footer {
    background: $blue;
    &__wrap {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    &__top {
        display: flex;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 100%;
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__phoneBlock{
        &--mobile{
            display: none;
        }
    }

    &__logo {
        max-width: 280px;
        min-width: 180px;
        width: 100%;
        margin-top: -20px;
    }

    &__link {
        color: #fff;
        text-decoration: none;
    }

    &__socials {
        padding-top: 45px;
    }

    &__bottom {
        padding-top: 120px;
    }

    &__license {
        text-align: center;
        color: #fff;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
    &__item {
        text-decoration: none;
        color: inherit;
        font-size: 25px;
        color: #fff;
    }

    
}

