@import './variables.scss';

@media screen and (min-width: 1500px) {
  .mainBanner {
    background-size: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .moreInfo {
    &__wrap {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    &__img {
      margin-right: -100px;
    }
  }
}

@media screen and (max-width: 950px) {
  .header {
    &__link {
      margin-right: 15px;
    }

    &__button {
      width: 130px;
    }
  }
}

@media screen and (max-width: 800px) {
  .mainBanner {
    background: url(../../img/mainBanner-bg-mobile.png);
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center 20px;
    &__wrap {
      padding-top: 585px;
      padding-bottom: 50px;
    }
  }


  .portfolio {
    &__item {
      height: 300px;
    }
  }


  .moreInfo {
    &__img {
      display: none;
    }

    &__wrap {
      justify-content: center;
    }

    &__title {
      text-align: center;
      margin-bottom: 0;
    }

    &__text {
      margin-right: 0;
    }

    &__mobileImg {
      display: block;
      margin: 30px 0;
      img {
        width: 100%;
      }
    }

    
  }

  .footer {
    &__logo{
      margin-top: 0;
    }

    &__bottom {
      padding-top: 60px;
    }
  }

  .phoneBlock {


    &__row {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 720px) {

  .logo {
    max-width: 135px;
  }

  .header {
    position: relative;
    &__button {
      display: none;
    }

    &__toggler {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 49px;
      cursor: pointer;
      span {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
      }
    }

    &__nav {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      transform: translateY(100%);
      background: $blue;
      flex-direction: column;
      padding-bottom: 50px;
      padding-top: 42px;
      padding-right: 20px;
      padding-left: 20px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      &--open {
        visibility: visible;
        opacity: 1;
      }
    }

    &__link {
      &:not(:last-child) {
        margin-bottom: 43px;
      }
      font-style: normal;
      font-weight: 800;
      font-size: 17px;
      line-height: 27px;
      text-transform: uppercase;
    }
  }

  .mainBanner {
    &__wrap {
      padding-top: 505px;
    }
  }


  .steps {

    &__wrap {
      padding-top: 60px;
      padding-bottom: 60px;
      
    }

    &__title {
      margin-bottom: 40px;
    }

    &__arrows {
      padding-top: 40px;
    }

    .slick-list {
      overflow: hidden;
      // padding-left: 0 !important;
    }

    &__item {
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 50px;
      margin: 0px 100px;
    }

    &__text {
      margin-right: 0;
    }
  }

  .formBlock {
    &__wrap {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__img {
      margin-top: 45px;
      display: block;
      img {
        width: 100%;
      }
    }
  }

  .phoneBlock {
    display: none;
  }

  .footer {

    &__top {
      flex-direction: column;
    }

    &__phoneBlock--mobile{
      display: flex;
    }

    &__logo{
      max-width: 280px;
    }

    &__socials {
      padding-top: 35px;
      padding-bottom: 40px;
    }

    &__top {
      max-width: 280px;
      margin: 0px auto;
    }

    &__logo {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 600px) {
  
  .wrap {
    padding-right: 20px;
    padding-left: 20px;
  }

  .mainBanner {
    &__wrap {
      padding-top: 435px;
    }
  }

  h1 {
    font-size: 34px;
  }

  .services {
    &__wrap {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }

  .dropInfo {

    &__heading {
      align-items: start;
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &__circle {
      width: 15px;
      height: 15px;
      margin-right: 20px;
      margin-top: 7px;
    }

    &__body {
      padding-left: 32px;
      padding-right: 40px;
      p {
        padding: 0;
        padding-left: 25px;
      }
    }
  }

  .steps {
    &__item {
      margin-right: 10px;
      margin-left: 10px;
    }
  }


  .portfolio {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__arrows {
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
  }

  .formBlock {

    &__title {
      margin-bottom: 17px;
    }

    &__subtitle {
      margin-bottom: 25px;
    }

    &__input {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &__button {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 450px) {

  h1 {
    font-size: 27px;
    line-height: 120%;
    color: #000;
    text-transform: uppercase;
  }

  h2 {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
  }

  h3 {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
  }

  p {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
  }

  .mainBanner {
    &__wrap {
      padding-top: 335px;
    }

    &__subtitle {
      margin-bottom: 34px;
    }
  }


  .services {
    &__wrap {
      padding-top: 16px;
      padding-bottom: 30px;
    }

    &__title {
      margin-bottom: 17px;
    }
  }


  .steps {
    &__wrap {
      padding-top: 40px;
      padding-bottom: 45px;
    }

    &__arrows {
      padding-top: 25px;
      max-width: 230px;
      margin: 0px auto;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__item {
      h3 {
        margin-bottom: 0;
      }
    }

    &__paragraph {
      font-size: 17px;
      line-height: 175%;
    }
  }

  .arrow {
    margin: 0;
  }


  .portfolio {
    &__item {
      height: 260px;
      margin-bottom: 15px;
    }

    .slick-slide {
      margin-right: 15px;
      margin-left: 15px;
    }

    &__grid {
      display: block;
      margin: 0px -15px;
    }

    &__arrows {
      padding-top: 10px;
      max-width: 230px;
      margin: 0px auto;
      justify-content: space-between;
    }

    &__wrap {
      padding-top: 16px;
      padding-bottom: 30px;
    }

    &__title {
      margin-bottom: 20px;
    }
    
  }

  .moreInfo {
    &__wrap {
      padding-top: 45px;
      padding-bottom: 50px;
    }

    &__button {
      width: 100%;
      max-width: 100%;
      margin-top: 30px;
    }

    &__paragraph {
      br {
        display: block;
      }
    }
  }

  .footer {
    &__wrap {
      padding-top: 45px;
      padding-bottom: 140px;
    }

    &__bottom {
      padding-top: 25px;
    }
  }
  
}


